[Unit]
Description=statistics collection daemon
After=local-fs.target network.target
Requires=local-fs.target network.target

[Service]
ExecStart={{collectd_sbin_path}}/collectd -C {{collectd_config_file}} -f
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
